/** @type {import('tailwindcss').Config} */
module.exports = {
  content: ["./src/**/*.{js,jsx,ts,tsx}"],
  theme: {
    extend: {
      colors: {
        white: "#fff",
        mediumslateblue: "#0061fe",
        "base-black": "#000",
        whitesmoke: "#f9f9f9",
        headingggg: "#0376ff",
        gray1: {
          "100": "#797979",
          "200": "#242331",
          "300": "#132433",
          "400": "rgba(255, 255, 255, 0.6)",
          "500": "rgba(0, 0, 0, 0.71)",
          "600": "rgba(0, 0, 0, 0.85)",
          "700": "rgba(0, 0, 0, 0.41)",
          "800": "rgba(255, 255, 255, 0.4)",
        },
        silver: "rgba(193, 187, 187, 0.6)",
        "gray-900": "#18181b",
        "gray-600": "#52525b",
        slategray: "#557087",
        dodgerblue: {
          "100": "#088efc",
          "200": "#008cff",
        },
        ghostwhite: "#f6f6ff",
        lightslategray: "#9098b3",
        lightblue: "#c4def7",
        aliceblue: "#f5faff",
        cornflowerblue: "#749cfc",
        "gray-200": "#e4e4e7",
        lightsteelblue: "#c1c7f4",
      },
      spacing: {},
      fontFamily: {
        headdd: "'Plus Jakarta Sans'",
        "inter-semi-bold-16": "Inter",
        inherit: "inherit",
        jejugothic: "JejuGothic",
      },
      borderRadius: {
        "31xl": "50px",
        "11xl": "30px",
        xl: "20px",
        "lg-2": "18.2px",
        mini: "15px",
      },
    },
    fontSize: {
      lg: "1.13rem",
      base: "1rem",
      "3xl": "1.38rem",
      "23xl": "2.63rem",
      sm: "0.88rem",
      xl: "1.25rem",
      "13xl": "2rem",
      "4xs": "0.56rem",
      "5xl": "1.5rem",
      "19xl-9": "2.43rem",
      inherit: "inherit",
    },
  },
  corePlugins: {
    preflight: false,
  },
};
